.wrap {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 40px;
}
h1 {
  font-size: 48px;
  margin: 0 0 8px;
}
a {
  display: inline-block;
  margin-top: 12px;
}
